table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  cursor: default;
}

td.operator {
  background-color: yellow;
}

td.operator:hover {
  background-color: lightgrey;
}

